.menu{

    background: linear-gradient(to right,#4d1000 -15%,#9e0000 100%);
    justify-content: flex-end;
}

.menu ul{
    padding-right: 2%;

}
.nomeUser{    
    color: white;
    
}

.nomeUser:hover{    
    color: white;    
    text-decoration: none;
}
.menuUser div{
    left: -54px;
}
.menuUserOp:hover{

    background: #9e0000;
    color: white;


}

#sidebar{
    background: linear-gradient(#4d1000 -28%,#9e0000 106%);
    bottom: 0px;
    float: none;
    height: 100vh;
    left: 0px;
    position: fixed;
    top: 0px;
   
}
.nomeEmpresa{
    background: #f28a02;
    display: block;
    font-size: 1rem;
    line-height: 1.5;
    padding: .9rem .5rem;   
    white-space: nowrap;
    
}
.nomeEmpresa a{
    text-decoration: none;
}

.imgMenu{    
    float: left;
    line-height: .8;
    margin-right: .4rem;
    margin-top: -3px;
    max-height: 33px;
    width: auto;
    border-radius: 50%; 

}